<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/about_style.css">
</head>
<body>
    <%- include('./partial/nav.ejs') %>
    <article>
        <h2>Lorem, ipsum dolor.</h2>
        <div>
            <div>
            <img src="goh-rhy-yan-XgsVB9Uwpq8-unsplash.jpg">
            </div>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate architecto nesciunt deserunt! Laborum alias obcaecati officiis,
                molestias rem error deserunt id hic? Incidunt harum magnam architecto repellendus similique voluptatibus pariatur aliquid beatae 
                nemo aperiam sapiente in, eaque ullam ratione sequi. Cupiditate alias maiores ipsa dolor culpa aliquid pariatur, id nam ipsum
                dolores blanditiis quidem eveniet et libero, porro recusandae possimus officiis modi dicta nulla harum eum iusto! Atque harum 
                impedit obcaecati eaque blanditiis dignissimos dolores optio, eum minus fuga! Sunt voluptatibus blanditiis animi! Nisi 
                consequatur dolor iusto earum odio expedita eius, sit dolore corrupti doloremque? Aliquid mollitia animi odio at.
            </p>
        </div>
    </article>
</body>
</html>