<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/nav.css">
</head>
<body>
    <%- include('./partial/nav.ejs') %>
    <main>
        <% if(status==500){ %>
            Please reach out after some time. Sorry for inconvinience.
        <% } else if(status==403){ %>
            You are not authorized to access this page.
        <% } else{%>
            ksks
        <% } %>

    </main>
</body>
</html>