<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/nav.css">
    <link rel="stylesheet" href="/register_style.css">
</head>
<body>
    <%- include('./partial/nav.ejs') %>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, magni corrupti iusto quod natus minus tempore error? Ad, dolor error 
        iste earum corrupti provident quisquam doloribus nihil labore autem quaerat!</p>
</body>
</html>